@font-face {
    font-family: 'Raleway Regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

/* * {
    border: solid rgb(255 0 0 / 30%) 1px;
} */

body {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 1.875rem;
}

header img {
    width: 10rem;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header li {
    padding: 3.1rem 1rem 2rem 1rem;
}

header a {
    font-family: 'Raleway Regular', sans-serif;
    text-decoration: none;
    padding: 3rem 2rem 0 2rem;
    color: black;
}

#nav_sinscrire
{
    font-family: 'Raleway Bold', sans-serif;
    color: #0065FC;
}

header a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* MAIN - PARTIE RECHERCHE */

#partie_recherche {
    margin: 30px 1.875rem 0 1.875rem;
}

h1 {
    font-family: 'Raleway Bold';
    font-size: 1.6rem;
}

p  {
    font-family: 'Raleway Regular';
}

#barre_recherche {
    display: flex;
}

form i {
    width: 30%;
    padding: 14px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#champ_texte_rechercher {
    height: 100%;
    width: 200px;
    border: #F2F2F2 solid 1px;
    padding-left: 10px;
    font-family: 'Raleway Bold';
    font-size: 1rem;
}

#bouton_rechercher {
    height: 100%;
    width: 110px;
    border: none;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-family: 'Raleway Regular';
    font-weight: bold;
    font-size: 1rem;
}

#filtres {
    display: flex;
    margin-top: 26px;
}

#filtres div {
    display: flex;
    align-items: center;
    height: 39px;
    border: 2px solid #D9D9D9;
    border-radius: 40px;
    margin-left: 20px;
}

#filtres span { 
    font-size: 1.3rem;
}


#filtres p {
    font-family: 'Raleway Bold';
    font-size: 1.1rem;
    margin: 9px 10px 9px 0;
}

.fa-circle {
    color: #DEEBFF;
    width: 41px;
}

.fa-inverse {
    color: #0065FC;
    width: 41px;
}

#infos {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#infos i {
    color: #0065FC;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    margin: 10px;
    text-align: center;
}

/* MAIN - PREMIERE PARTIE - HEBERGEMENT A MARSEILLE */

#premiere_partie {
    display: flex;
    justify-content: space-between;
    margin: 0 1.875rem;
}

#hebergements_a_marseille {
    display: flex;
    flex-direction: column;
    width: 61%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 15px 50px;
    margin: 20px 30px 0 0;
}

#hebergements_a_marseille section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.tuiles_hebergements_marseille {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, 31%, 40rem);
    background-color: white;
    height: 260px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_hebergements_marseille img {
    width: auto;
    height: 60%;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 20px 20px 0 0;
}

.bloc_hebergements_marseille {
    margin-left: 20px;
}

h2 {
    font-family: 'Raleway Bold';
    font-size: 1.2rem;
    margin-top: 6px;
    margin-bottom: 0;
}

.bloc_hebergements_marseille p {
    font-size: 0.9rem;
    margin-top: 8px;
    margin-bottom: 0;
}

strong
{
    font-family: 'Raleway Bold';
}

.etoiles_hebergements {
    display: flex;
    margin-top: 10px;
    font-size: 0.8rem;
}

.etoiles_bleues {
    display: flex;
    color: #0065FC;
}

.etoiles_grises {
    display: flex;
    color: #D9D9D9;
}

#herbegerments_a_marseille h2 {
    margin-top: 100px;
}
/* MAIN - PREMIERE PARTIE - LES PLUS POPULAIRES */

#les_plus_populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 25%;
    border-radius: 25px;
    padding: 15px 50px;
    margin-top: 20px;
}

#bloc_les_plus_populaires {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tuiles_les_plus_populaires {
    display: flex;
    background-color: white;
    width: clamp(10rem, 100%, 30rem);
    height: 190px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_les_plus_populaires img {
    width: 38%;
    height: auto;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 20px 0 0 20px;
}

.tuiles_les_plus_populaires h2 {
    font-family: 'Raleway Bold';
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 0;
}

/* MAIN - DEUXIEME PARTIE */

#deuxieme_partie
{
    margin: 3rem 1.875rem;
}

#activites_a_marseille
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 15px;
}

.tuiles_activites_vertical
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: clamp(18rem, 23%, 40rem);
    height: 650px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_activites_vertical img
{
    width: auto;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tuiles_activites_vertical h2
{
    margin-left: 20px;
    margin-top: 15px;
}
.colonne_activites {
    width: clamp(15rem, 23%, 25rem);
}

.tuiles_activites_horizontal
{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
    margin-bottom: 50px;
}

.tuiles_activites_horizontal img
{
    width: auto;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tuiles_activites_horizontal h2
{
    margin-left: 20px;
    margin-top: 15px;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
}

#agencement_footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 70%;
}

h3 {
    font-family: 'Raleway Bold', sans-serif;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    font-family: 'Raleway Regular', sans-serif;
    margin-bottom: 10px;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) and (max-width: 1399px) {
    #premiere_partie {
        flex-wrap: wrap-reverse;
    }

    #hebergements_a_marseille {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 25px;
        padding: 15px 50px;
        margin-right: 0;
    }

    #les_plus_populaires {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 25px;
        padding: 15px 50px;
    }

    #les_plus_populaires section {
        display: flex;
        justify-content: space-between;
    }

    .tuiles_les_plus_populaires {
    display: flex;
    background-color: white;
    width: clamp(10rem, 32%, 30rem);
    height: 160px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

}