@font-face {
    font-family: 'Raleway Regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

#bloc_page {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
}

/* HEADER */

header {
    max-width: 1440px;
    margin: auto;
}

#grid {
    display: grid;
    height: 10rem;
    grid-template-columns: 1fr 158px 158px 158px;
}

header img {
    width: 11rem;
}

#grid_hebergements {
    grid-column: 2;
    text-align: center;
}

#grid_activites {
    grid-column: 3;
    text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    padding: 4rem 0 3rem 0;
} 

header a {
    font-family: 'Raleway Regular', sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
}

#logo {
    padding: 0;
}

#logo_reservia {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#grid_sinscrire {
    grid-column: 4;
    text-align: center;
}

#grid_sinscrire a {
    color: #0065FC;
    font-family: 'Raleway Bold', sans-serif;
}

.nav_hover:hover {
    border-top: 2px solid #0065FC;
}

.nav_hover a:hover {
    color: #0065FC;
}

/* MAIN - PARTIE RECHERCHE */

#partie_recherche {
    margin-top: 3rem;
}

h1 {
    font-family: 'Raleway Bold', sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
}

p  {
    font-family: 'Raleway Regular', sans-serif;
    font-size: 1.8rem;
}

#barre_recherche {
    display: flex;
}

#icone_localisation {
    font-size: 1.7rem;
    padding: 2rem 2rem;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
}

#champ_texte_rechercher {
    height: 100%;
    width: 26rem;
    border: #F2F2F2 solid 1px;
    padding-left: 2rem;
    font-family: 'Raleway Bold';
    font-size: 2rem;
}

#bouton_rechercher {
    height: 100%;
    width: 14rem;
    border: none;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    color: white;
    font-family: 'Raleway Bold';
    font-size: 1.8rem;
}

#icone_rechercher {
    display: none;
    font-size: 1.7rem;
    padding: 2rem 2.5rem;
    color: white;
    background-color: #0065FC;
    border-radius: 20px;
}

#filtres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

#filtres section {
    display: flex;
    flex-wrap: wrap;
}

#filtres div { 
    display: flex;
    align-items: center;
    height: 4.5rem;
    border: 2px solid #D9D9D9;
    border-radius: 40px;
    margin: 0 1rem 1.5rem 1.5rem;
}

#filtres span { 
    font-size: 2.5rem;
    margin-left: -1rem;
}

#filtres p {
    font-family: 'Raleway Bold';
    font-size: 1.8rem;
    margin: 1rem 2rem 1rem 1rem;
}

.fa-circle {
    color: #DEEBFF;
}

.fa-blue {
    color: #0065FC;
}

#infos { 
    display: flex;
    align-items: center;
}

#infos i {
    color: #0065FC;
    width: 1.5rem;
    padding: 0.5rem;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

/* MAIN - PREMIERE PARTIE - HEBERGEMENT A MARSEILLE */

#premiere_partie {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}

#hebergements_a_marseille {
    display: flex;
    flex-direction: column;
    width: 61%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 1.5rem 4rem;
    margin-top: 2rem;
}

#hebergements_a_marseille section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tuiles_hebergements_marseille {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, 31%, 40rem);
    background-color: white;
    height: 22rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_hebergements_marseille img {
    width: auto;
    height: 60%;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 20px 20px 0 0;
}

.bloc_hebergements_marseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem 1.5rem 1.5rem;

}

h2 {
    font-family: 'Raleway Bold';
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
}

.bloc_hebergements_marseille p {
    font-size: 1.7rem;
    margin: 5px 0;
}

strong
{
    font-family: 'Raleway Bold';
}

.etoiles_hebergements {
    display: flex;
    margin-top: 4px;
    font-size: 1.2rem;
}

.etoiles_bleues {
    display: flex;
    color: #0065FC;
}

.etoiles_grises {
    display: flex;
    color: #D9D9D9;
}

/* MAIN - PREMIERE PARTIE - LES PLUS POPULAIRES */

#les_plus_populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 24%;
    border-radius: 25px;
    padding: 1.5rem 4rem 0 4rem;
    margin-top: 2rem;
}

.tuiles_les_plus_populaires h2 {
    font-family: 'Raleway Bold';
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

#bloc_les_plus_populaires i {
    font-size: 2.5rem;
}

#bloc_les_plus_populaires {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tuiles_les_plus_populaires {
    display: flex;
    background-color: white;
    width: clamp(10rem, 100%, 60rem);
    height: 16rem;
    margin-bottom: 4rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_les_plus_populaires img {
    width: 38%;
    height: auto;
    object-fit: cover;
    border: 6px solid white;
    border-right: none;
    border-radius: 20px 0 0 20px;
}

/* MAIN - DEUXIEME PARTIE */

#deuxieme_partie {
    margin-top: 3rem;
}

#activites_a_marseille {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.tuiles_activites_vertical {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: clamp(18rem, 23%, 40rem);
    height: 50rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_activites_vertical img {
    width: auto;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tuiles_activites_vertical h2 {
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.colonne_activites {
    width: clamp(15rem, 23%, 40rem);
}

.tuiles_activites_horizontal {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 22.5rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
    margin-bottom: 5rem;
}

.tuiles_activites_horizontal img {
    width: auto;
    height: 78%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tuiles_activites_horizontal h2 {
    margin-left: 2rem;
    margin-top: 1.5rem;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
}

#agencement_footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 70%;
}

h3 {
    font-family: 'Raleway Bold', sans-serif;
    font-size: 2rem;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    font-family: 'Raleway Regular', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #premiere_partie {
        flex-wrap: wrap-reverse;
    }

    #les_plus_populaires {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 25px;
        padding: 1rem 3rem;
    }

    #les_plus_populaires section {
        display: flex;
        justify-content: space-between;
    }

    .tuiles_les_plus_populaires {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: clamp(9rem, 31%, 40rem);
        height: 27rem;
        margin-bottom: 3rem;
        border-radius: 20px;
        box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
    }

    .tuiles_les_plus_populaires img {
        width: auto;
        height: 60%;
        object-fit: cover;
        border: 6px solid white;
        border-radius: 20px 20px 0 0;
    }

    .tuiles_les_plus_populaires h2 {
        font-family: 'Raleway Bold';
        font-size: 1.8rem;
        margin: 0;
    }

    #hebergements_a_marseille {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 25px;
        padding: 1rem 3rem 3rem 3rem;
        margin-right: 0;
    }

    .tuiles_hebergements_marseille {
        display: flex;
        flex-direction: column;
        width: clamp(14rem, 31%, 40rem);
        background-color: white;
        height: 27rem;
        margin-bottom: 3rem;
        border-radius: 2rem;
        box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
    }

}

@media screen and (max-width: 767px) {
    #bloc_page {
        padding: 0;
    }

    header img {    
        width: 10rem;
    }

    #grid {
        display: grid;
        height: 12rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7rem 7rem;
        margin-bottom: 4rem;
    }

    #logo {
        padding-left: 2rem;
    }

    .border_bottom_767 {
        border-bottom: 3px solid #D9D9D9;
    }

    #grid_hebergements {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        height: 2.5rem;
    }
    
    #grid_activites {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        height: 2.5rem;
    }

    #grid_sinscrire {
        grid-column: 2;
        padding-right: 2rem;
        text-align: right;
    }

    header li {
        padding: 2rem 0 1rem 0; /* 4.2 Border au survol */
    } 
    
    header a {
        padding: 0;
    }

    .nav_hover:hover {
        border-top: none;
        color: #0065FC;
    }
    
    .border_bottom_767:hover {
        border-bottom: 3px solid #0065FC;
    }
    
    #partie_recherche {
        padding: 0 1.3rem;
    }

    #filtres div { 
        margin: 0 0.5rem 1.5rem 0.5rem;
    }

    #filtres p {
        margin: 1rem 2rem 1rem 0;
    }

    #barre_recherche {
        margin-top: 3rem;
    }

    #icone_localisation {
        font-size: 1.4rem;
        padding: 1.5rem 1.5rem;
        background-color: #F2F2F2;
        border-radius: 15px 0px 0px 15px;
    }

    #bouton_rechercher {
        display: none;
    }

    #icone_rechercher {
        display: block;
        margin-left: -10px;
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        color: white;
        background-color: #0065FC;
        border-radius: 15px;
    }

    #premiere_partie {
        flex-wrap: wrap-reverse;
        margin-bottom: 3rem;
    }

    #les_plus_populaires {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 0;
        padding: 1rem 2rem;
    }

    .tuiles_les_plus_populaires {
        display: flex;
        background-color: white;
        width: clamp(10rem, 100%, 70rem);
        height: 15rem;
        margin-bottom: 2rem;
        border-radius: 20px;
        box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
    }    

    #hebergements_a_marseille {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:white;
        border-radius: 0;
        padding: 1rem 2rem;
        margin-right: 0;
    }

    .tuiles_hebergements_marseille {
        display: flex;
        flex-direction: column;
        width: clamp(5rem, 100%, 80rem);
        background-color: white;
        height: 21rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        box-shadow: 0 5px 10px rgb(0 0 0 / 9%);
    }

    .tuiles_hebergements_marseille img {
        width: auto;
        height: 55%;
        object-fit: cover;
        border: 6px solid white;
        border-radius: 20px 20px 0 0;
    }

    #deuxieme_partie {
        margin-top: 4rem;
        padding: 0 1.6rem;
    }

    #activites_a_marseille {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    }

    .tuiles_activites_vertical {
        width: clamp(18rem, 100%, 80rem);
        height: 18rem;
        margin-bottom: 2rem;
    }

    .tuiles_activites_vertical img {
        height: 74%;
    }

    .colonne_activites {
        width: clamp(15rem, 100%, 80rem);
    }
    
    .tuiles_activites_horizontal {
        height: 18rem;
        margin-bottom: 2rem;
    }
    
    .tuiles_activites_horizontal img {
        height: 74%;
    }

    #agencement_footer {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
}