@font-face {
    font-family: 'Raleway Regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

#bloc_page
{
    width: 92%;
    margin: auto;
}

/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 33px;
}

#logo img
{
    width: 25%;
    margin-bottom: 0px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{ 
    margin: 23px 0px 10px 30px;
}

nav a
{
    font-size: 1rem;
    color: black;
    font-family: 'Raleway Regular', sans-serif;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#sinscrire
{
    font-family: 'Raleway Bold', sans-serif;
    color: #0065FC;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* MAIN - SECTION RECHERCHE */

h1{
    font-family: 'Raleway Bold';
    font-size: 1.6rem;
}

p 
{
    font-family: 'Raleway Regular';
}

.barre_recherche 
{
 display: flex;
}

form i
{
    width: 30%;
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#filtres
{
    display: flex;
    margin-top: 26px;
}

#filtres div
{
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 40px;
    margin-left: 20px;
}

#filtres span
{
    font-size: 1em;
    margin-left: 0;
}


#filtres p
{
    font-family: 'Raleway Bold';
    font-size: 1.1rem;
    margin: 9px 10px 9px 7px;
}

#infos
{
    display: flex;
    align-items: center;
    margin: 30px auto;
}
/* MAIN - PREMIERE PARTIE */

#premiere_partie
{
    display: flex;
}

/* SECTION HEBERGEMENT A MARSEILLE */

#hebergements_a_marseille
{
    display: flex;
    flex: 2.6;
    flex-direction: column;
    margin-right: 50px;
    padding: 20px 0 20px 50px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

#hebergements_a_marseille section
{
    display: flex;
    flex-wrap: wrap;
}

.tuiles_hebergements_marseille
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 320px;
    height: 240px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_hebergements_marseille img
{
    width: auto;
    height: 60%;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 20px 20px 0 0;
}

.bloc_hebergements_marseille
{
    margin-left: 20px;
}

h2
{
    font-family: 'Raleway Bold';
    font-size: 1.2rem;
    margin-top: 6px;
    margin-bottom: 0;
}

.bloc_hebergements_marseille p
{
    font-size: 0.9rem;
    margin-top: 8px;
    margin-bottom: 0;
}

strong
{
    font-family: 'Raleway Bold';
}

.etoiles_hebergements
{
    display: flex;
    margin-top: 10px;
    font-size: 0.8rem;
}

.etoiles_bleues
{
    display: flex;
    color: #0065FC;
}

.etoiles_grises
{
    display: flex;
    color: #D9D9D9;
}

/* SECTION LES PLUS POPULAIRES */

#les_plus_populaires
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px 50px 0 50px;
}

#bloc_les_plus_populaires
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bloc_les_plus_populaires i
{
    font-size: 1.5rem;
}

.tuiles_les_plus_populaires
{
    display: flex;
    background-color: white;
    width: 440px;
    height: 170px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_les_plus_populaires img
{
    width: 38%;
    height: auto;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 20px 0 0 20px;
}

/* MAIN - DEUXIEME PARTIE */

#deuxieme_partie
{
    margin-top: 70px;
}

#activites_a_marseille
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 15px;
}

.tuiles_activites_vertical
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
}

.tuiles_activites_vertical img
{
    width: auto;
    height: 91%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tuiles_activites_vertical h2
{
    margin-left: 20px;
    margin-top: 15px;
}

.colonne_activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tuiles_activites_horizontal
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
    margin-bottom: 50px;
}

.tuiles_activites_horizontal img
{
    width: auto;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.tuiles_activites_horizontal h2
{
    margin-left: 20px;
    margin-top: 15px;
}

/* FOOTER */

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 25px 15px 25px 40px;
}

footer div
{
    margin-right: 400px;
}

h3
{
    font-family: 'Raleway Bold', sans-serif;
}

footer ul
{
    list-style-type: none;
    padding-left: 0;
}

footer li
{
    font-family: 'Raleway Regular', sans-serif;
    margin-bottom: 15px;
}